/* IE 망해라 */

.center {
  text-align: center;
}

.hidden {
  display: none;
}

.container {
  max-width: 650px;
  margin: auto;
  padding: 0.5rem;
}

.sub-title {
  margin: 0.5rem auto;
  border-bottom: 2px solid #dcdcdc;
  font-size: 1.25rem;
  font-weight: 800;
  text-align: center;
}

p {
  word-break: break-all;
}

section.page {
  width: 90%;
  border: 2px solid #dcdcdc;
  padding: 1rem 0.5rem 1rem 0.5rem;
  margin: 1rem auto;
}

img.icon {
  width: 30%;
  max-width: 125px;
  margin: 0.5rem auto;
}

footer {
  margin-top: 3rem;
  padding: 1rem 1rem 4rem 1rem;
  background: #323232;
  color: white;
  font-weight: 800;
  text-align: center;
}

.grid-item div.item {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 1fr 2fr;
  -ms-grid-columns: 1fr 2fr;
  margin: 1rem auto;
}

.grid-item img {
  width: 60%;
  margin: 3.25rem auto 0 auto;
}

.grid-item-first {
  -ms-grid-column: 1;
}

.grid-item-second {
  -ms-grid-column: 2;
}

#title-container {
  background: #66abd7;
  background: linear-gradient(90deg, #accee3, #249be7);
  padding: 1rem;
}

#title {
  padding: 2rem 0;
  color: white;
  font-weight: 800;
  font-size: 1.75em;
  text-align: center;
}

#ie-info {
  display: none;
  background: #f74f36;
  color: white;
  border-color: black;
}

#github-icon {
  cursor: pointer;
  max-width: 75px;
  margin: auto;
}
