html {
  font-family: "Nanum Gothic", sans-serif;
}

head {
  display: none;
}

body,
html,
div,
section,
footer {
  display: block;
  padding: 0;
  border: 0;
  margin: 0;
}

p {
  display: block;
  padding: 0.5rem;
  margin: 0.5rem;
}

img {
  display: block;
  width: 100%;
}

hr {
  border: 0;
  border-bottom: 2px solid #dcdcdc;
}
